name: Lighthouse CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lhci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm build

      - name: Run Lighthouse CI
        run: pnpm dlx @lhci/cli autorun
